@import "tailwindcss";

@theme {
  --color-bk-dark: #00205a;
  --color-bk-mid: #004f9e;
  --color-bk-light: #0078b8;
  --color-bk-gray: #7b7f83;
  --color-bk-text: #414042;

  --font-bk-heading: Inter, system-ui, sans-serif;
  --font-bk-body: Inter, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-bk-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bk-heading;
  }
}
